@charset "UTF-8";
:root{
    --cor0: #042940;
    --cor1: #005C53;
    --cor2: #9FC131;
    --cor3: #c3c5b2;
    --cor4: #ffffff9f;
    --font-principal: 'Rubik',verdana, sans-serif;
    --font-titulo: 'Oswald', verdana, sans-serif;
    --font-destaque: 'Roboto', verdana, sans-serif;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.img-brackgroud{
    width: 100%;
}
.imagem{
    width: 100%;
}
.imagem1{
    width: 100%;
}
.backgraud-full-black{
    background-color: #0000003a;
    width: 100%;
    height: 700px;
}
#backgraud-capa{
    background-image: url('../imagem/principal.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    width: 100%;
    height: 700px;
}
header{
    padding: 5px 0px 40px 25px;
}
a > img{
    margin-bottom: -10px
}
nav{
    margin: -25px 0px 10px 15px; 
}
nav > a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 0.9em;
    color: black;
    margin-left: 5px;
    padding: 6px;
    border-radius: 4px;
}
nav > a:hover{
    background-color: var(--cor0);
    color: white;
    transition-duration: .5s;
}
#inicio{
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    justify-content: center;
    margin: 100px auto auto auto;   
}
.open{
    width: 500px;
    height: 250px;
    text-align:justify;
}
.open-grid{
    width: 350px;
    height: 150px;
    justify-content: center;
}
#work-pass-grid{
    padding: 10px;
    font-size: 1.1em;
    color: var(--cor0);
}
#work-pass-grid-01{
    padding: 10px;
    margin-top: -20px;
    font-size: 1.5em;
    color: white;
}
#button-seletion{
    margin-top: 30px;
    margin-left: 50px;
}
#button-seletion > button{
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    border-radius: 0px 10px;
    color: black;
}
.open-segund{
    width: 500px;
    height: 280px;
    text-align:justify;
}
.open-grid-01{
    width: 100%;
    height: 100%;
}
#capa-grid{
    width: 90%;
    height: 300px;
    margin: auto;
}
#comprimento{
    background-color: var(--cor4);
    padding: 10px;
    border-radius: 10px 0px;
}
main{
    background-color: white;
    margin-top: 5px;
}
main > section {
    background-color: var(--cor4);
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    justify-content: center;
    text-align: justify;
    padding: 20px;
    margin: auto;
}
.section-01 > div{
    height: 250px;
    width: 400px;
    padding: 10px;
    margin: 5px;
    border-radius: 3px; 
    box-shadow: 1px 1px 10px #00000036;
}
.bioimagem{
    flex: 1 1 100px;
    width: 50px;
    height: 50px;
    margin: 5px auto -5px auto;
}
hr{
    width: 100px;
    height: 5px;
    border-radius: 3px;
    border: none;
    margin: 0px auto 10px auto;
}
.section-02{
    background-color: var(--cor2);
}
.section-02 > div{
    flex: 1 1 20%;
    padding: 10px;
}
.fotografia{
    width: 100px;
    height: 100px;
    margin: auto;
}
.fotografia > img{
    border-radius: 50%;
}
.avaliacao{
    display: flex;
    justify-content: center;
    padding: 5px;
}
.avaliacao > h6{
    font-size: 1.3em;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 100px;
}
.avaliacao > p{
    font-size: 1.2em;
    text-align: center;
}
.comentario{
    font-style: italic;
    padding: 10px;
}
.section-03{
    flex: 1 1 50%;
    padding: 10px;
    justify-content: center;
    margin: auto;
}
#paragrafo{
    text-align: center;
}
hr{
    margin: 10px auto 10px auto;
    padding: 2px;
    width: 40px;
    border-radius: 3px;
    background-color: var(--cor0);
}
.grid-01{
    padding: 5px;
    text-align: center;
    width: 150px;
    height: 75px;
}
.grid-01 > h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}
.grid-02{
    display: flex;
}
.card{
    background-image: url('../imagem/industrial.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 300px;
}
.section-04{
    height: 300px;
    width: 95%;
    margin: 10px auto 10px auto;
    border-radius: 3px; 
    box-shadow: 1px 1px 10px #00000036;
    background-color: #000000cc;
    }
.section-04 > div{
    width: 70%;
    margin: 10px auto 10px auto;
    text-align: center;
}
#texto{
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#texto-comentario{
    color: white;
    font-size: 0.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
}
#sabia{
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    color: black;
    background-color: var(--cor2);
    border-radius: 10px;
}
#flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #053857;
    padding: 20px 0px 10px 0px;
}
#flex > div{
    width: 175px;
    padding: 5px;
    margin: 15px; 
}
.contenier-01{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#center > img {
    margin-left: 10px;
    padding: 5px;
}
.item-contenier{
    display: flex;
    justify-content: center;
}
.icone{
    margin: 0px 15px 10px 15px;
    height: 35px;
    width: 35px;
}
.coluna{
    flex-direction: column;
}
#contato{
    text-align: center;
    background-color: var(--cor2);
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
}
#contato > a{
    text-decoration: none;
    color: black;
    font-size: 1em;
    font-weight: 300;
}
h4{
    margin: 5px;
}
address{
    padding: 1px;
}
p{
    padding: 3px;
}
footer{
    background-color: var(--cor0);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 15px;
}