@charset "UTF-8";
@media only screen and (max-device-width: 1300px) {
    .parallax{
        background-attachment: scroll;
    }
    .parallax1{
        background-attachment: scroll;   
    }
    #backgraud-capa{
        background-attachment: scroll;
    }
}
:root{
    --cor0: #042940;
    --cor1: #005C53;
    --cor2: #9FC131;
    --cor3: #DBF227;
    --cor4: #ffffff9f;
    --font-principal: 'Rubik',verdana, sans-serif;
    --font-titulo: 'Oswald', verdana, sans-serif;
    --font-destaque: 'Roboto', verdana, sans-serif;
}
*{
    margin: 0%;
    box-sizing: border-box;
}
.img-brackgroud{
    width: 100%;
}
.imagem{
    width: 100%;
}
.imagem1{
    width: 100%;
}
#backgraud-capa{
    background-image: url('../imagem/principal.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 700px;
}
header{
    background-color: var(--cor4);
    padding: 5px 0px 40px 25px;
}
a > img{
    margin-bottom: -10px
}
nav{
    margin: -25px 0px 10px 15px; 
}
nav > a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 0.9em;
    color: black;
    margin-left: 5px;
    padding: 6px;
    border-radius: 4px;
}
nav > a:hover{
    background-color: var(--cor0);
    color: white;
    transition-duration: .5s;
}
#inicio{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-top: 200px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#comprimento{
    background-color: var(--cor4);
    padding: 10px;
    border-radius: 10px 0px;
}
main{
    background-color: white;
    margin-top: 5px;
}
main > section {
    background-color: var(--cor4);
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    justify-content: center;
    text-align: justify;
    padding: 20px;
    margin: auto;
}
.section-01 > div{
    height: 250px;
    width: 400px;
    padding: 10px;
    margin: 5px;
    border-radius: 3px; 
    box-shadow: 1px 1px 10px #00000036;
}
.bioimagem{
    flex: 1 1 100px;
    width: 50px;
    height: 50px;
    margin: 5px auto -5px auto;
}
hr{
    width: 100px;
    height: 5px;
    border-radius: 3px;
    border: none;
    margin: 0px auto 10px auto;
    background-image: linear-gradient(90deg, var(--cor0), var(--cor1), var(--cor2), var(--cor4));
}
.parallax{
    background-image: url('../imagem/parallax1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
    width: 100%;
    height: 250px;
}
.section-02{
    background-color: var(--cor0);
}
.section-02 > div{
    flex: 1 1 300px;
    margin: 10;
    padding: 10px;
}
main article{
    margin-top: 10px;
}
.parallax1{
    background-image: url('../imagem/parallax2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
    width: 100%;
    height: 250px;
}
#flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #2e2e2e;
    padding: 20px 0px 10px 0px;
}
#flex > div{
    height: 175px;
    width: 330px;
    padding: 10px;
    margin: 10px;
    background-color: #ffffff23;
    border-radius: 3px;
}
.contenier-01{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#center > img {
    margin-left: 100px;
    padding: 5px;
}
.contenier-02{
    display: flex;
    justify-content: center; 
}
.icone{
    margin: 20px 15px 10px 15px;
    height: 35px;
    width: 35px;
}
h4{
    margin: 5px;
}
address{
    padding: 1px;
}
p{
    padding: 3px;
}
footer{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 30px;
}